

#main {
  position: relative;
  top: 5%;
  left: 30%;
  width: 60%;
} 

h1, h2 {
	font-family: Arial, sans-serif;
  padding-bottom:5px;
}

body {
 	font-family: sans-serif;
  	background-color: #AEF;
    color: #111;
}

nav {
  	position: fixed; bottom: 10px; left: 20px;
}

a {
	color: #888;
}

.post { padding-top: 20px;}

h4 { 
	font-size: 11px;
}

.discreet-text {
	font-size: 13px; 

}

#container {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  overflow: hidden;
}
